<!DOCTYPE html>
<html lang="pt-BR" ng-app="app2048">
    <head>
        <meta charset="UTF-8">
        <title>2048</title>
        <link rel="stylesheet" href="src/assets/style.css">
        <link rel="stylesheet" href="src/assets/reset.css">
        <link rel="icon" type="image/png" href="src/assets/favicon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
        <script src="src/js/app.js"></script>
        <script src="src/js/appController.js"></script>
        <script src="src/js/colorsService.js"></script>
        <script src="src/js/numbersService.js"></script>
        <script src="src/js/collectionsFactory.js"></script>
        <script src="src/js/moveItemsService.js"></script>
    </head>
    <body ng-controller="appController" ng-keyup="userClick($event.key)">
        <h1>2048</h1>
        <table class="grid-container">
            <tr ng-repeat="position in positionsDOM" class="grid-row">
                <td ng-repeat="item in position" class="grid-item" ng-class="itemColor(item)">
                    {{ item }}
                </td>
            </tr>
        </table>
        <div class="bottom-container">
            <button class="start-btn" ng-click="startGame()" ng-disabled="gameInProgress">Start!</button>
        </div>
    </body>
</html>