* {
    color: #fff;
    font-size: 1.1em;
}
body {
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 2em;
}

.container {
    width: 600px;
    height: 600px;
    margin-top: 20px;
    text-align: center;
}
.game-block {
    width: 100%;
    text-align: center;
    padding: 40px 20px;
}
.grid-container {
    width: 450px;
    height: 450px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 40, 134);
    border: 3px solid rgb(62, 14, 236);

}
.grid-row {
    display: flex;
    flex-direction: row;
}
.grid-row:not(:first-child) {
    margin-top: 20px;
}
.grid-item {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(153, 153, 153);
    border: 3px solid rgb(196, 196, 196);
}
.grid-item:not(:first-child) {
    margin-left: 20px;
}
.start-btn {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: rgb(240, 149, 29);
    border: 3px solid rgb(223, 114, 25);
    border-radius: 3px;
    transition-duration: .25s;
}
.start-btn:enabled:hover {
    filter: brightness(1.3);
    color: rgb(128, 61, 7);
}
.start-btn:disabled {
    filter: grayscale(.8);
}

/*color classes*/

.blue-item {
    background-color: #7ca6f5;
    border: 3px solid #a4c2fa;
}
.green-item {
    background-color: #9ef57c;
    border: 3px solid #c3faa4;
}
.orange-item {
    background-color: #f5ac7c;
    border: 3px solid #fad2a4;
}